In [3]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json
import time

# Import API key
from config import google_api_key

# Store Part I results into DataFrame

In [4]:
# Read the output csv file from part one 
result_one_df = pd.read_csv("/Users/rodneydavermann/Desktop/Python_api_Challenge/OutputData/cities_output.csv")

In [7]:
# Dropping any missing data
result_one_df.dropna()

# Displaying the first fifteen rows 
result_one_df.head(15)

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,George Town,20,MY,1623898591,76,5.4112,100.3354,89.53,2.30
1,Sohag,0,EG,1623898749,35,26.5570,31.6948,77.58,9.22
2,Ushuaia,0,AR,1623898750,75,-54.8000,-68.3000,33.46,0.00
3,New Norfolk,100,AU,1623898750,84,-42.7826,147.0587,54.91,2.42
4,Great Falls,1,US,1623898481,20,47.5002,-111.3008,73.85,9.22
5,Kawalu,100,ID,1623898750,83,-7.3817,108.2082,77.56,2.80
6,Vaini,90,TO,1623898751,94,-21.2000,-175.2000,75.36,3.44
7,Bluff,93,NZ,1623898751,72,-46.6000,168.3333,46.80,10.87
8,Tuatapere,70,NZ,1623898751,82,-46.1333,167.6833,46.81,3.71
9,Qaanaaq,93,GL,1623898752,79,77.4840,-69.3632,31.12,3.49
10,Busselton,0,AU,1623898752,64,-33.6500,115.3333,57.04,6.96
11,Bhit Shah,0,PK,1623898752,59,25.8044,68.4927,86.05,17.49
12,Broome,53,US,1623898753,81,42.2506,-75.8330,53.56,2.04
13,Chui,100,UY,1623898753,79,-33.6971,-53.4616,51.30,11.16
14,Belyy Yar,75,RU,1623898753,100,53.6039,91.3903,57.09,4.47